*.js
*.js.map
*.log
!scripts/*.js
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
demo/node_modules
demo/typings
node_modules
.idea
.vscode
src/platforms/android/nativescript_adobe_marketing_cloud.aar
